.App {
  text-align: center;

}


.futurebus, .upcomingbus {
  margin: 15px auto;
  float: left;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 80%;
}

.buses {
  margin: 0px auto;
  justify-content: center;
  padding: 5px;

}

body {
    background-color: darkblue;
}

.background-bus {
  background-color: rgb(248, 248, 76);
  /* opacity:; */
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}

.menu-nav {
  background-color: rgba(255, 255, 255, 0.927);
  padding: 30px;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  width: 40%;
  justify-content: center;
  display: inline-block;
}

.menu-nav h1 {
  margin: -2px;
}

.menu-nav p:first-child {
  margin: 4px;
}